<div class="well">
	<%= image_tag pin.image(:medium) %>
  <%= pin.title %>
  <%= link_to pin.author, pin.author_link %>
  <%= link_to "Download", pin.download_link %>

  <% if current_user == pin.user %>
		<%= link_to 'Show', pin %>
	  <%= link_to 'Edit', edit_pin_path(pin) %>
	  <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  
</div>