<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <%= link_to image_tag("/assets/sketchminelogo.png", :alt => "SketchMine", :class => "brand-icon"), root_path %>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
       	

				<div class="pull-right">
					<ul class="nav">
	        	<li><%= link_to "about", about_path %></li>
						<li><%= link_to "contact", "#" %></li>
            <% if user_signed_in? %>
              <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
            <% end %>
					</ul>

					<div class="btn-group">
            <% if user_signed_in? %>
		          <%= link_to "add", new_pin_path, class: "btn btn-large btn-primary" %>
            <% else %>
              <%= link_to "submit", '#', class: "btn btn-large btn-primary" %>
            <% end %>
					</div>
				</div>
      </div>
    </div>
  </div>
</header>