<!DOCTYPE html>
<html>
	<head>
	  <title>SketchMine</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <%= favicon_link_tag 'favicon.ico' %>
	  <%= render 'layouts/ga' %>
	</head>
	<body>

		
	<%= render 'layouts/header' %> 

	<div class="container-fluid">
  	<div class="row-fluid	">
    	<div class="span2 hidden-phone">
    		<div class="tag_nav">
      		<%= link_to "Recent", root_path, class: 'tag_list' %>
	      	<div id="tag_cloud">
		  			<% tag_cloud Pin.tag_counts.order("name asc"), %w[s m l] do |tag, tag_list| %>
		    			<%= link_to tag.name, tag_path(tag.name), class: "tag_list" %>
		  			<% end %>
		  		</div>	
		  	</div>	
			</div>
	    <div class="span10">
	    	<div class="row-fluid ">
		      <% flash.each do |name, msg| %>
		      	<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
		    	<% end %>
						<%= yield %>
				</div>
			</div>	
		</div>
	</div>


	<%= render 'layouts/footer' %>

	</body>
</html>
